<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>EJS form</h1>
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="quote" name="quote" />
        <button type="submit">Submit</button>
    </form>
    <table border='2'>
        <th>Name</th>
        <th>Quote</th>
        <th>Edit</th>
        <% for(var i=0;i< test.length;i++){ %>
        <tr>
            <td><%= test[i].name %></td>
            <td><%= test[i].quote %></td>
            <td><a href="/<%= test[i].name %>"><button>Edit</button></a></td>
            <td><a href="/delete/<%= test[i].name %>"><button>Delete</button></a></td>
        </tr>
        <% } %>
    </table>
</body>
</html>